#simulatesidebar {
    position:fixed;
    top: 110px;
    right: 0;
    width: 20%;
    height: 100%;
    display:flex;
    background-color: #f3f3f3ff;
    justify-content: center;
    color: black;
    font-family: Georgia;
}
