.table {
    background: transparent;
    margin: 18px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.handle {
    cursor: grab;
    margin-right: 10px;
    background: transparent;
    border: none;
    font-weight: 500;
    font-size: large;
}

.handle:active {
    cursor: grabbing;
}

.openSymbol {
    border: none;
    background: transparent;
    margin-left: 10px;
    font-size: larger;
    font-family: "Nunito", sans-serif;
}

.assettable {
    background-color: #9e9e9e;
}

table {
    border-spacing: 1px;
    font-weight: inherit;
    font-size: small;
    font-weight: 300;
}

tr {
    background-color: #f3f3f3ff;
    color: #9e9e9e;
}

th {
    color: black;
    font-weight: 400;
}

tbody tr:nth-child(odd) {
    background-color: #d9d9d9ff;
}

td {
    padding-left: 5px;
}