.mul {
    color: white;
    background-image: linear-gradient(#fe4b6aff, #fe5f57ff,  #ffa241ff, #ffa241ff, #fdb42eff)
}
.sng {
    background-color: green
}

.macro_up {
    background-color: rgba(24, 188, 24, 0.525);
}